<!-- footer -->
<div id="footer">
  <div class="blog--footer__back"></div>
  <div class="blog--footer__mode-select-panel">
    <div class="blog--footer__mode-select--item1"></div>
    <div class="blog--footer__mode-select--item2"></div>
    <div class="blog--footer__mode-select--item3"></div>
    <div class="blog--footer__mode-select--item4"></div>
    <div class="blog--footer__user-info--panel">
      <div class="blog--footer__user-info--img"></div>
      <div class="blog--footer__user-info--innerpanel">
        <div class="blog--footer__user-info--name">
        	<% if (user) { %>
            <%= user.name %>
          <% } %> 
        </div>
        <div class="blog--footer__user-info--performence">
        	0pp
        </div>
        <div class="blog--footer__user-info--accurcy">
        	100%
        </div>
        <div class="blog--footer__user-info--level">
        	Lv 104
        </div>
      </div>
      <div class="blog--footer__user-info--rank">
      		0
      </div>
    </div>
  </div>
</div>	
	</body>
</html>