<%- include header %>
<table class="table table-condensed table-games">
   <caption>游戏列表</caption>
   <thead>
      <tr>
         <th>游戏名称</th>
         <th>开发状态</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Dragon Ball</td>
         <td>Ready</td>
         <td><a href='/dragball'>Start</a></td>
      </tr>
      <tr>
         <td>Game2</td>
         <td>Unfinished</td>
         <td>Closed</td>
      </tr>
      <tr>
         <td>Game3</td>
         <td>Unfinished</td>
         <td>Closed</td>
      </tr>
   </tbody>
</table>