<%- include header %>
<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="images/common/YSP.png" alt="">
				<div class="intro-text">
					<span class="name">加班动漫网</span>
					<span class="skills">Let's Add Together</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>This website is my second webside created by nodejs and bootstrap. It's just for my work displayed using html5 programming. Thank you for visiting.</p>
			</div>
			<div class="col-lg-4">
				<p> Catch the Beat, also known as CtB, is a game mode that requires players to control a character to catch fruit in time to the music. The fruits fall from the top of the screen to the bottom, with the character holding a plate above his head.
				</p>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="#" class="btn btn-lg btn-outline"></a>
			</div>
		</div>
	</div>
</section>
<%- include footer %>